h1 {
    color: grey;
    text-align: center;
    text-decoration: solid;
    text-rendering: geometricPrecision;
    text-overflow: ellipsis;
    text-anchor: var(text-anchor);
     
}
body {
    background-image: url('pinkladybg.jpg')
}

h2 {
    color:green;
    text-align: center;
    text-shadow: crimson;   
}
p {
    align-items: center;
}
.logobox {
   
    display: flex;
    justify-content: center;
}
.logo {
    
    width: 50px;
    height: 50px;
}
.footer {
    justify-content: right;
}